@model NPress.Web.Models.PostIndexViewModel
@{
    ViewData["Title"] = "Posts";
}

@foreach(var post in Model.Posts)
{
    <p>
        @post.Title - <a asp-action="edit" asp-route-id="@post.Id">Edit</a>
    </p>
}

@if(Model.Posts.Count() > 0 || Model.Page > 1)
{
    <nav>
        <ul class="pager">
            @if(Model.Page > 1)
            {
                <li>
                    <a asp-action="index" asp-route-cursor="@Model.Cursor" asp-route-page="@(Model.Page - 1)" asp-route-pageSize="@Model.PageSize">Previous</a>
                </li>
            }
            @if(Model.Posts.Count() == Model.PageSize)
            {
                <li>
                    <a asp-action="index" asp-route-cursor="@Model.Cursor" asp-route-page="@(Model.Page + 1)" asp-route-pageSize="@Model.PageSize">Next</a>
                </li>
            }
        </ul>
    </nav>
}
